<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImgRW_WF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ImgRW_WF.Properties.Settings>
            <setting name="resize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resizeValue" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="drawString" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="content" serializeAs="String">
                <value>ImageRW</value>
            </setting>
            <setting name="fontName" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="fontStyleBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fontStyleItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontStyleUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="frameString" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frameLineWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="stringColor" serializeAs="String">
                <value>#9900FF82</value>
            </setting>
            <setting name="stringLocationX" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="stringLocationY" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="drawImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="imagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="stringRotateAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageLocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageRotateAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageOptical" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="outputFormat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="imgScale" serializeAs="String">
                <value>100</value>
            </setting>
        </ImgRW_WF.Properties.Settings>
    </userSettings>
</configuration>